*{
    margin:0;
    box-sizing: border-box;
}

body{
    background: url("https://images.unsplash.com/photo-1502790671504-542ad42d5189?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat center center fixed;
    background-size: cover;
   /* height:100vh; */
   /* opacity: 0.9 */
}
.app__upper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}